# Sample .env file for smartKart project
# Copy this file to .env and fill in the appropriate values

EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_PASSWORD=

DEBUG=

SECRET_KEY=