{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="section-content padding-y bg">
<div class="container">

  <div class="container  my-5">
    <div class="card shadow-sm">
      <div class="card-body bg-light">
        <!-- Order Info -->
        <div class="mt-4">
          <h4>Order Information</h4>
          <ul class="list-unstyled">
            <li><strong>Order Number:</strong> #{{order.order_number }}</li>
            <li><strong>Transaction ID:</strong> #{{ order.payment.Payment_id}}</li>

            <li><strong>Order Date:</strong> {{order.created_at}}</li>
            <li><strong>Status:</strong> <span class="badge badge-warning">{{order.payment.status }}</span></li>
          </ul>
        </div>

        <!-- Customer Info -->
        <div class="mt-4">
          <h4>Customer Information</h4>
          <ul class="list-unstyled">
            <li><strong>Name:</strong> {{order.full_name}}</li>
            <li><strong>Email:</strong> {{order.email}}</li>
            <li><strong>Shipping Address:</strong><br>
              {{order.address_line_1}},<br>
              {{order.state}}, {{order.city}},<br>
              {{order.country}}<br>
            </li>
          </ul>
        </div>

        <!-- Order Summary -->
        <div class="mt-4">
          <h4>Order Summary</h4>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>Item</th>
                  <th>Qty</th>
                  <th>Price</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for item in ordered_products %}
                <tr>
                  <td>{{item.product.product_name}}
                  	<p class="text-muted small">
					{% if item.varition.all %}
					{% for i in item.varition.all %}
						{{ i.variation_category | capfirst}}: {{ i.variation_value |capfirst }} <br>
					{% endfor %}
					{% endif %}
          </td>
			


                  <td>{{item.quantity}}</td>
                  <td>${{item.product_price}}</td>
                  <td>${{item.product_price}}</td>
                </tr>
                {% endfor %}
                
                <tr>
                  <td colspan="3" class="text-right font-weight-bold">Total</td>
                  <td class="font-weight-bold">${{subtotal}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Thank You Message -->
        <div class="alert alert-info mt-4">
         Thank you for shopping with us. We hope to see you again soon!
        </div>

        <!-- Continue Shopping Button -->
        <a href="{% url "home" %}" class="btn btn-success mt-3">Continue Shopping</a>
      </div>
    </div>
  </div>
  </div>
  </section>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>




{% endblock content %}  