{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
<article class="gallery-wrap"> 
	<div class="img-big-wrap mainImage">
		<!-- produce gallery images in small size -->
		
		
	   <a href="#"><img src={{ single_product.images.url }}></a>
	</div> <!-- img-big-wrap.// -->
	
</article> <!-- gallery-wrap .end// -->
<ul class="thumb">
		<li>
		<a href="{{ single_product.images.url}}" target="mainImage" class="item-thumb"> <img src="{{  single_product.images.url }}"></a>
	</li>
	<li>
		{% for i in product_galleries %}
		<a href="{{i.image.url}}" target="mainImage" class="item-thumb"> <img src="{{ i.image.url }}"></a>
		{% endfor %}
	</li>
</ul>
		</aside>
		<main class="col-md-6 border-left">
	<form action="{% url "add_cart" single_product.id %}" method="POST">
		{% csrf_token %}

<article class="content-body">

<h2 class="title">{{ single_product.product_name }}</h2>
 
<div class="rating-stars">
					<span>

  <i class="{% if single_product.averageReview >= 1 %}fas fa-star{% elif single_product.averageReview >= 0.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>
  <i class="{% if single_product.averageReview >= 2 %}fas fa-star{% elif single_product.averageReview >= 1.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>
  <i class="{% if single_product.averageReview >= 3 %}fas fa-star{% elif single_product.averageReview >= 2.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>
  <i class="{% if single_product.averageReview >= 4 %}fas fa-star{% elif single_product.averageReview >= 3.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>
  <i class="{% if single_product.averageReview >= 5 %}fas fa-star{% elif single_product.averageReview >= 4.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i> 
	<strong>{{ single_product.averageReview|floatformat:1 }}</strong> 
	<span class="text-muted">({{ single_product.countReview }} reviews)</span>
 




					</span>
					</div>
					<br>

<div class="mb-3"> 
  <var class="price h4">₹{{ single_product.price }}</var>
</div> 

<p>{{ single_product.description }}</p>


<hr>
	<div class="row">
		<div class="item-option-select">
			<h6>Choose Color</h6>
			<select name="color" class="form-control" required	> 
				<option value="" disabled selected>Select Color</option>
				{% for i in single_product.varition_set.colors %}
				<option value="{{ i.variation_value | lower}}">{{ i.variation_value | capfirst }}</option>
				{% endfor %}
				{% comment %} <option value="red">Red</option> {% endcomment %}
			</select>
		</div>
	</div> <!-- row.// -->
	<div class="row">
		<div class="item-option-select">
			<h6>Select Size</h6>
		<select name="size" class="form-control" required>
				<option value="" disabled selected>Select size</option>
				{% for i in single_product.varition_set.sizes %}
				<option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
				{% endfor %}	
				{% comment %} <option value="small">Small</option>		 {% endcomment %}
		</select>
		</div>
	</div> <!-- row.// -->
	<hr>
  {% if single_product.stock <= 0 %}
    <span class="badge badge-danger">Out of Stock</span>

	{% else %}
	<button  type="submit" class="btn btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
	{% endif %}


</article> <!-- product-info-aside .// -->
</form>
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>

<div class="row">
			<div class="col-md-9">
{% comment %} review Rating form {% endcomment %}

	<h3> Reviews Rating </h3> 



	<form  class="shadow p-3" method="POST" action="{% url 'review_rating' single_product.id %}">
		{% csrf_token %}
		
		<h5>Write your Review</h5>
		<div>
			<!--rating stars-->
<label>Your Rating:</label>
<br>
<div class="rate">
	<input type="radio" id="rating10" name="rating" value="5" required /><label for="rating10" title="5"></label>
	<input type="radio" id="rating9" name="rating" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
	<input type="radio" id="rating8" name="rating" value="4" required /> <label for="rating8" title="4"></label>
	<input type="radio" id="rating7" name="rating" value="3.5" required /> <label for="rating7" title="3.5" class="half"></label>
	<input type="radio" id="rating6" name="rating" value="3" required /> <label for="rating6" title="3"></label>
	<input type="radio" id="rating5" name="rating" value="2.5" required /> <label for="rating5" title="2.5" class="half"></label>
	<input type="radio" id="rating4" name="rating" value="2" required /> <label for="rating4" title="2"></label>
	<input type="radio" id="rating3" name="rating" value="1.5" required /> <label for="rating3" title="1.5" class="half"></label>
	<input type="radio" id="rating2" name="rating" value="1" required /> <label for="rating2" title="1"></label>
	<input type="radio" id="rating1" name="rating" value="0.5" required /> <label for="rating1" title="0.5" class="half"></label> 
</div>
<br>



			Review Title:
			<input type="text" name="subject" class="form-control" >
			<br>
			Review:	
			<textarea name="review" class="form-control" rows="4" ></textarea>
		</div>
	
<br>
{% if user.is_authenticated %}
		{% if orderproduct %}
		<input  type="submit" class="btn btn-primary" value="Submit Review">
		{% else %}
		<h5> You must purchase the product to write a review.</h5>
		{% endif %}
{% else %}

		<a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-primary">Login to Submit Review</a>
{% endif %}
		{% comment %} include alert. html {% endcomment %}
		{% include 'include/alert.html' %}
	</form>
	<hr>


	<header class="section-heading">
		<h3>Customer Reviews </h3> 
				<div class="rating-stars">
					<span>

  <i class="{% if single_product.averageReview >= 1 %}fas fa-star{% elif single_product.averageReview >= 0.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>
  <i class="{% if single_product.averageReview >= 2 %}fas fa-star{% elif single_product.averageReview >= 1.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>
  <i class="{% if single_product.averageReview >= 3 %}fas fa-star{% elif single_product.averageReview >= 2.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>
  <i class="{% if single_product.averageReview >= 4 %}fas fa-star{% elif single_product.averageReview >= 3.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>
  <i class="{% if single_product.averageReview >= 5 %}fas fa-star{% elif single_product.averageReview >= 4.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>
	<strong>{{ single_product.averageReview|floatformat:1 }}</strong> 
	<span class="text-muted">({{ single_product.countReview }} reviews)</span>





					</span>
					</div>
					<br>
					<br>
		
	</header>

	{% for review in reviews %}
	<article class="box mb-3">
		<div class="icontext w-100">
			<div class="text">
				<span class="date text-muted float-md-right">{{review.updated_at}} </span>  
				<h6 class="mb-1">{{review.user.full_name}}</h6>
				{% comment %} review star {% endcomment %}
				<div class="rating-stars">
					<span>

  <i class="{% if review.rating >= 1 %}fas fa-star{% elif review.rating >= 0.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>
  <i class="{% if review.rating >= 2 %}fas fa-star{% elif review.rating >= 1.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>
  <i class="{% if review.rating >= 3 %}fas fa-star{% elif review.rating >= 2.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>
  <i class="{% if review.rating >= 4 %}fas fa-star{% elif review.rating >= 3.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>
  <i class="{% if review.rating >= 5 %}fas fa-star{% elif review.rating >= 4.5 %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>




					</span>
					</div>
				
			</div>
		</div> <!-- icontext.// -->
		<div class="mt-3">
			<strong>{{review.subject}}</strong>
			<br>
			<p>
			{{review.review	}}
			</p>	
		</div>
	</article>
	{% endfor %}

	

	</div> <!-- col.// -->
</div> <!-- row.// -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

 {% endblock content %}