/* hide radio button */
.rate input {
    display: none;
}
.rate{
  display: inline-block;
  border: 0;
}
.rate>label {
    float: right;
 
}
/* showing the stars */
.rate>label:before {
    margin: 2px; 
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
    padding: 0.3rem .25rem;
    cursor: pointer;
}
/* half stars */
.rate .half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0.25rem;
    font-size: 1.25em;
}
/* click and hover */
.rate>input:checked~label,
.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #FFD700;
}
/* hover previous stars */
.rate>input:checked+label:hover,
.rate>input:checked~label:hover,
.rate>label:hover~input:checked~label {
    color: #FFED85;
}
/* disable hover when clicked */
.rate>input:checked~label {
    color: #FFD700;
} 
.rating-stars i{
    color: #ffca08 !important;
}